.websiteDesign {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
}
.frameChild,
.frameItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
}
.frameChild {
  background-color: var(--color-whitesmoke-200);
  width: 100%;
  height: 100%;
  display: none;
}
.frameItem {
  background-color: var(--color-darkorange-100);
  width: 657px;
  height: 12px;
  z-index: 1;
}
.graphicIcons,
.rectangleParent {
  background-color: var(--color-whitesmoke-200);
}
.graphicIcons {
  position: absolute;
  top: calc(50% - 16px);
  right: 84px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border: 0 solid var(--color-darkorange-100);
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  z-index: 2;
}
.rectangleParent {
  align-self: stretch;
  height: 12px;
  position: relative;
  border-radius: var(--br-7xs);
}
.skills {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-3xs);
  gap: var(--gap-mid);
  text-align: left;
  font-size: var(--sub-heading-24-size);
  color: var(--color-black);
  font-family: var(--h2-65);
}
@media screen and (max-width: 450px) {
  .websiteDesign {
    font-size: var(--sub-p-19-size);
  }
}
